body {
  background-image: url('christmas-background.jpg');
  background-size: cover;
  font-family: sans-serif;
}

a {
  color: white;
  font-size: 20px;
}

li {
  display: inline-table;
  padding: 0px 5px 0px 5px;
}
